dtd/smamul.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( sma ) #IMPLIED
>
<!ATTLIST r
      id ( smamul ) #IMPLIED >


<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>

<!ELEMENT e (lg, source?, semantics?, stem*, sources?, mg+, ig*) >
<!ATTLIST e
      usage ( mt | vd | dict | other | nds | fad | KB ) #IMPLIED
      src ( nj | sk | SvSt | gt_fad | gt | fad | other | gg | SK |
            PS_SA | KAL | nou94 | PS | husbykuhmunen | lmm | sammallahti |
            BergslandMagga | Lagercrantz | nsr | utsi | aj )  #IMPLIED
      exclude ( smanob | nobsma ) #IMPLIED
      reverse ( yes | no ) #IMPLIED
      illpl ( yes | no ) #IMPLIED
      id CDATA #IMPLIED
      xpos CDATA #IMPLIED
      mc CDATA #IMPLIED
>
<!ATTLIST e r ( LR | RL ) #IMPLIED > <!-- found in all_smnsme.xml -->
<!ATTLIST e note CDATA #IMPLIED >
<!ATTLIST e oa_unif ( done | s | N | E ) #IMPLIED >

<!ELEMENT lg (l+, l_ref*, lemma_ref*, lsub*, stem*, analysis*, mini_paradigm*) >
<!ELEMENT lemma_ref (#PCDATA) >
<!ELEMENT orig (#PCDATA) >

<!ATTLIST lemma_ref lemmaID CDATA #IMPLIED >
<!ATTLIST lg freq CDATA #IMPLIED >

<!ELEMENT analysis (#PCDATA|wordform)* >
<!ATTLIST analysis ms CDATA #IMPLIED >

<!ELEMENT wordform (#PCDATA) >
<!ELEMENT mini_paradigm (analysis+) >

<!ELEMENT l (#PCDATA) >
<!ATTLIST l
      attr CDATA #IMPLIED
      case CDATA #IMPLIED 
      class ( I | II | III | IV | V | VI | xxx ) #IMPLIED
      context CDATA #IMPLIED
      dialect CDATA #IMPLIED
      diph ( yes ) #IMPLIED
      hid CDATA #IMPLIED 
      illpl ( ok | no ) #IMPLIED
      margo CDATA #IMPLIED
      minip ( notSg1 | onlyPl ) #IMPLIED
      mod CDATA #IMPLIED 
      nr ( Sg | Du | Pl ) #IMPLIED
      p3p CDATA #IMPLIED
      pg ( yes | no ) #IMPLIED
      pos ( A | Adv | CC | CS  | Interj | N | Num |
            Pcle | Phrase | Po | Pr | Pron | V ) #IMPLIED 
      sem_type ( Obj | Plc | Fem | Org | Mal | Txt ) #IMPLIED 
      soggi CDATA #IMPLIED
      src CDATA #IMPLIED 
      stem ( even | odd | 2syll | 3syll | xsyll | weak ) #IMPLIED
      type ( Rel | Pers | Indef | Refl | Dem | interr |
             pre | post | ord | TV | IV | actor | G3 | G7 | NomAg | Ord
             | Prop | Recipr | Coll | Interr | Logo ) #IMPLIED
      umlaut ( full | A | C | B | D | E | F ) #IMPLIED
      vow CDATA #IMPLIED
>

<!-- decl: i indeclineable -->

<!-- lsub = frequent subform of lemma -->
<!ELEMENT lsub (#PCDATA) >

<!ELEMENT lc (#PCDATA) >

<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu
      lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu
      sanue_id CDATA #REQUIRED >


<!-- the real stem field -->
<!ELEMENT stem (#PCDATA) >
<!ATTLIST stem class ( bisyllabic | trisyllabic ) #IMPLIED >

<!-- the mg -->
<!ELEMENT mg (l_ref?, dg?, tg+, ig? ) >

<!-- Idiom phrases, faste uttrykk -->
<!ELEMENT ig ( i+, id?, it+)+ >
<!ELEMENT i (#PCDATA) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT it (#PCDATA) >


<!ELEMENT dg ( d ) >
<!ELEMENT d (#PCDATA) >

<!ELEMENT tg (semantics?, re?,  ( ((t, stem*, l_ref?, morph_expl?)))+, xg*) >
<!ATTLIST tg
      xml:lang ( nob | swe | sme | lat | eng ) #REQUIRED
      check CDATA #IMPLIED
>
<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re
    xml:lang ( nob | sme | sma | smn | swe | eng | deu | lat) #IMPLIED
>

<!ELEMENT t (#PCDATA) >
<!ATTLIST t t_type ( Pers | expl ) #IMPLIED  >
<!ATTLIST t pos ( A | Adv | CC | CS | Det | Interj | N | Num |
                  Phrase | Po | Pr | Pron | V ) #IMPLIED >

<!ATTLIST t type ( expl
                  | grammarexpl |Prop | Indef | G3 | NomAg | Coll | Recipr | Pers
                  | grammar | Refl | Dem | Poss | Logo | Rel | Interr | TV | IV ) #IMPLIED >
<!ATTLIST t src CDATA #IMPLIED >
<!ATTLIST t orig CDATA #IMPLIED >
<!ATTLIST t href CDATA #IMPLIED >
<!ATTLIST t value CDATA #IMPLIED >
<!ATTLIST t soggi CDATA #IMPLIED >

<!ELEMENT l_ref (#PCDATA) >

<!-- translation_comment = for Oahpa use -->


<!ELEMENT morph_expl (#PCDATA) >


<!ELEMENT xg ((x, xt+)+)>
<!ATTLIST xg re CDATA #IMPLIED >
<!ELEMENT x (#PCDATA)>
<!ATTLIST x src CDATA #IMPLIED >
<!ELEMENT xt (#PCDATA)>
<!ATTLIST xt src CDATA #IMPLIED >


<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >



